attrs==17.4.0
click==6.7
Faker==0.8.8
Flask==0.12.2
funcsigs==1.0.2
ipaddress==1.0.19
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mixer==6.0.1
pluggy==0.6.0
pony==0.7.3
py==1.5.2
pytest==3.4.1
python-dateutil==2.6.1
six==1.11.0
text-unidecode==1.2
Werkzeug==0.14.1
