<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
  <script src="static/js/main.js"></script>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Person Manager</title>
  <meta name="description" content="">
  <meta name="author" content="João Guerreiro">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/modal.css">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 15%">
        <div class="row">
          <h1 class="title">Person Manager</h1>
        </div>
        <div class="row">
          <label for="firstNameInput">First name</label>
          <input type="text" placeholder="" id="firstNameInput">
          <label for="lastNameInput">Last name</label>
          <input type="text" placeholder="" id="lastNameInput">
        </div>
        <div class="row">
          <button id='addPerson' class="button-primary">Add Person</button>
          <button id='importRandomPerson' class="button-primary">Import Random Person</button>
        </div>
      </div>
      <div class="row">
        <table id="personsTable" class="u-full-width">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Person profile Modal -->
  <div id="personModal" class="modal">
    <div class="modal-content">
      <span id="closePersonModal" class="close">&times;</span>
      <div class="container">
        <div class="row">
          <img class="profile-pic" style="border-radius: 50%;" src="static/images/blank-profile-picture.png">
        </div>
        <div class="row">
          <span color="gray">Hello! My name is</span><br>
          <h2 id="personName"></h2>
        </div>
        </div>
      </div>
    </div>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
